* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.btn-large {
    background-color: #009900;
    width: 100%;
    padding: 0.65rem;
    color: #e6ffe6 !important;
    border-radius: 0.3rem;
    margin: 0.2rem 0;
    font-weight:500;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 1px 1px (rgb(0 0 0 / 14%));
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
    color: -internal-light-dark(black, white) !important;
}

.btn-modal-yes, .btn-modal-no {
    background-color: #009900;
    width: 40%;
    padding: 0.65rem;
    color: #e6ffe6;
    border-radius: 0.3rem;
    margin: 0.2rem 0;
    font-size: 1rem;
    text-align: center;
    box-shadow: 1px 1px (rgb(0 0 0 / 14%));
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
    color: -internal-light-dark(black, white) !important;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    color:#000000;
    margin: 45% auto;
    padding: 5px 20px;
    border: 1px solid #888;
    border-radius: 0.8rem;
    width: 80%;
}

.modal-content p {
    font-size: 1rem;
}

#alltrails .modal-content h3 {
    font-size: 1.1rem;
}

.btn-modal-close {
    color: #aaa;
    float: right;
    padding-top: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    background: none;
    border: none;
}

.green {
    color: #009900;
}

body {
    font-size: 18px;
    height: 100%;
}

.no-overflow {
    overflow: hidden;
}

#page-index::before {
    content: "";
    background-image: url('../img/trail5-2b-small.jpg');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

#page-index aside a:link {
    text-decoration: none;
    color:black;
    font-size: .9rem;
    padding-right: .5rem;
}

#page-index .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* #page-index .row {
    margin: 0 3rem;
} */

div.app {
    display: none;
}

main {
    margin-bottom: 50px !important;
}

main>div>h1,
main>h1 {
    color: #009900;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 2.3rem;
}

main.login h3 {
    font-size: 1.4rem;
    margin-top: 2.2rem;
    font-weight: 550;
}

#link-delete-account,
#link-forgot-pw {
    font-size: 1.1rem;
}

main input {
    font-size: 1.2rem;
    padding: .4rem;
    background: #FFFFFF;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#div-my-trails div.selected {
    background: #009900;
    color: #e6ffe6;
    border: 3px ridge #e6ffe6;
}

#main-login {
    width: 80%;
    height: 100%;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    opacity: 1;
}

#main-div-login * {
    color: #000000;
}

#alltrails main,
#my-trails-page {
    width: 100%;
    height: 100%;
    padding-top: 0.4rem;
}

main.login section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main.login section input {
    margin: 0.2rem 0;
    width: 100%;
    border-radius: 0.2rem;
}

#map {
    height: 400px;
}
body#alltrails,
body#mytrails {
    overflow-y: scroll;
    background-image: url('../img/trail5-2b-small.jpg');
}

#allTrails .btn-large {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#list-all-trails img,
#my-trails-page>div.container img {
    width: 94.6px;
    height: 94.6px;
    border-radius: 10px;
    image-rendering: -webkit-optimize-contrast;
}

#mytrails h1 {
    font-weight: normal;
    font-size: 1.4rem;
}

#list-all-trails h2 {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 5px;
}

#list-all-trails h3,
#my-trails-page>div.container h3 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

#list-all-trails p,
#my-trails-page>div.container p {
    font-size: 1rem;
}

#all-trails main,
main#my-trails-page {
    margin: 0;
}

#myTrailHeader {
    text-align: center;
    color: #e6ffe6;
    background: #009900;
    font-weight: normal;
}

#myTrailHeader h2 {
    font-size: 1.4rem;
    margin-top: .3rem;
    margin-bottom: 0;
}

#myTrailHeader p {
    margin-top: .4rem;
    margin-bottom: .3rem;
}

#div-my-trails h2 {
    font-size: 1.1rem;
}

div.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

div.container .row::after {
    content: "";
    clear: both;
    display: block;
}

div.row {
    background: rgba(255, 255, 255, 0.75);
    margin-bottom: 0.4rem;
    padding: 0.6rem;
    color: black;
}

.col-2, .col-4 {
    float: left;
}

.col-2 {
    width: 33.333%;
}

.col-4 {
    width: 66.666%
}

#alltrails div.row,
#mytrails div.row {
    border-radius: 10px;
}

#alltrails button {
    border-radius: 10px;
    margin-top: .2rem;
}


#list-all-trails a:link {
    text-decoration: none;
}
    
#list-all-trails a:active {
    text-decoration: none;
    
}

#list-all-trails a:visited {
    text-decoration: none;
}

body#traildetail {
    overflow-y: scroll;
    color: #000000;
}

#details-page .row {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

#row-titles {
    margin-top: 0;
    background-color: #009900;
}

#traildetail #map {
    margin-top: 1.3rem;
}

#details-page #row-titles {
    margin-bottom: .8rem;
    padding-top: .9rem;
    border-bottom: .8px solid rgb(145, 144, 144);
}

#details-page #row-titles h2 {
    color: #e6ffe6;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.icon-trail-nr {
    width: 35px;
    height: 35px;
    background-color: #e6ffe6;
    color: #009900;
    text-align: center;
    font-weight: normal;
    font-size: 1.15rem;
    padding-top: .4rem;
    border-radius: 20%;
    margin-right: 1rem;
    margin-bottom: .8rem;
    display: inline-block;
}

#details-page h2 {
    font-size: 1.2rem;
    margin-top: .5rem;
    font-weight: bold;
    color: #009900;
    display: inline-block;
}

#details-page h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #009900;
}

#details-page .modal-content h3 {
    color: #000000;
}

#details-page p {
    font-size: 1rem;
}

#details-page ul {
    padding-left: .8rem;
}

#details-page li {
    font-size: 1rem;
}

#details-page .btn-large {
    margin: 0;
}

#map .big-map {
    height: 80vh !important;
}

.footer-nav {
    width: 100%;
    height: 50px;
    background-color: rgb(233, 232, 232);
    position: fixed !important;
    bottom: 0;
    font-weight: bold;
    font-size: .9rem;
    border-top: .8px solid rgb(145, 144, 144);
} 

.footer-nav img {
    height: 40px;
    width: auto;
    position: absolute;
    margin-right: 1rem;
    left: 1rem;
    top: 5px;
}

.footer-nav > ul {
    margin: 0;
    padding: 0;
    right: 1rem;
    position: absolute;
    top: .8rem;
}

.footer-nav > ul > li {
    display: inline-block;
    margin-left: .7rem;
    color:rgb(110, 108, 108);
}

.footer-nav > ul > li > a:link {
    color: rgb(110, 108, 108);
    text-decoration: none;
}

.footer-nav > ul > li > a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-nav > ul > li > a:visited {
    color: rgb(110, 108, 108);
    text-decoration: none;
}

.footer-nav > ul li button {
    border: none;
    color: rgb(110, 108, 108);
    background-color: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: none;
}

#gallery, #selected-gallery {
    background: #000000;
}

.gallery-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-bottom: 50px !important;
}
.gallery-container > a {
    display: block;
    text-decoration: none;
}

.mySlides {
  display: block;
}

.mySlides > h2 {
    color: #e6ffe6;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.mySlides > img {
    width: 100%;
}

#selected-gallery img {
    width: 100%;
    margin-bottom: 2rem;
}

#selected-gallery > nav.footer-nav > a > img {
    height: 30px;
    width: auto;
}

.figcaption {
  color: #e6ffe6;
  font-size: 1.1rem;
  padding: .2rem .5rem 1.7rem 0;
  text-align: right;
}

#my-trails-page div#map-my-trail {
    height: 400px;
    display: none;
}
